/* making syle awsome */
h1 {
    color: red;
    font-size: 98px;
}

p {
    color: purple;
    font-size: 24px;
}

table {
    color: blue;
    font-size: 24px;
}

#first {
    color: orange;
    font-size: 24px;
}

#second {
    color: black;
    font-size: 24px;
}

#cat {
    width: 480px;
}

img.class {
    width: 700px;
    height: 480px;
}

body {
    background-color: cyan;
    background-image: url(DV.jpg);
  }